a.avatar(href="#")
    div.avatar-overlay
        div.avatar-info
            div.avatar-info__name Ирина Иванова
            div.avatar-info__post Frontend инженер
    img(src="./images/avatar.jpg")
